<!-- subset view -->
<!-- GDS2381_1 (5 samples): normal samples=GSM132623, GSM132624, GSM132625, GSM132626, GSM132627 -->
<tr>
<td>[% subset.geo_id %]</td>
<td>([% subset.n_samples %] samples)</td>
<td>[% subset.title %]</td>
<td><button type='button' onclick='editor.toggle("[% subset.description %]")'>Toggle samples</button></td>
</tr>